<%= render WuwWeb.Web.LayoutView, "nav.html", assigns %>

<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

<div class="body">

  <div class="inner">
    <%= render WuwWeb.Web.AccountView, "new.html", assigns %>
    <%= render WuwWeb.Web.AccountView, "list_container.html", assigns %>
  </div>

</div>
