@import "_scss/reset";
@import "_scss/variables";


.left {
  float: left;
}

.right {
  float: right;
}

.clearfix { 
  display: inline-block; 
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.homepage {
  min-width: 200px;
  max-width: 600px;
  margin: auto;

  h1 {
    text-align: center;
    color: $medium-blue;
    font-family: $open-sans;
    font-size: 25px;
  }

  p {
    margin: 20px 0;
    text-align: justify;
    font-family: $open-sans;
    font-size: 20px;
    color: $medium-blue;
  }


  .btn-uuge {
    margin: 50px auto;
    width: 300px;
    button {
      padding: 20px 40px;
      width: 100%;
      cursor: pointer;
      background-color: $medium-blue;
      border: 0px;
      color: $light-grey;
      font-size: 25px;
      border-radius: 5px;

      &:hover {
        background-color: darken($medium-blue, 10%);
        color: darken($light-grey, 10%)
      }
      &:focus {
        background-color: darken($medium-blue, 10%);
        color: darken($light-grey, 10%)
      }
    }
  }

  .wuw-logo {
    font-family: $logo-font-family;
    color: $medium-blue;
    margin: 100px auto 30px auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    .w {
      font-size: 150px;
    }
    .u {
      font-size: 125px;
    }
  }
}



/* OLD RAW STYLES */

.bordered { 
  border: 1px solid #e5eff5;
  border-radius: 10px;
  padding: 10px 40px 30px 40px;
}

.form h1, .form h2 {
  color: #34495e;
}
.form input, .form button {
  font-size: 15px;
  font-family: "Whitney A", "Whitney B", Avenir, Helvetica,sans-serif;
  border: 1px solid #e5eff5;
  
  border-radius: 3px;
  margin: 4px 0 10px 0;
}

.form input {
  width: 100%;
  padding: 10px;
  color: #1B98E0;
}

.form button {
  padding: 10px 30px 10px 30px;
  background-color: #3498db;
  color: #ecf0f1;
}

.form button:active, .form button:focus {
  outline: 0px;
  color: #3498db;
  background-color: #ecf0f1;
}


.long {
  max-width: 500px;
}

.short {
  max-width: 200px;
}

.form input:active, .form input:focus {
  border: 1px solid #1B98E0;
  outline: 0px;
}

.form button:hover {
  color: #3498db;
  background-color: #ecf0f1;
  border: 1px solid #3498db;
}


.field label {
  font-weight: normal;
  color: #34495e;
  margin: 0 0 0 2px;
  display: block;
  font-size: 15px;
}

.form .bunch {
  margin-bottom: 20px;
}

.form .buttons {
  margin-top: 0px;
}