@import "_scss/reset";
@import "_scss/variables";
@import "_scss/forms";


.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  display: inline-block;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.body {
  .inner {
    padding: 0 20px 0 20px;
  }

}

.homepage {
  min-width: 200px;
  max-width: 600px;
  margin: auto;
  padding: 0 20px 0 20px;

  h1 {
    text-align: center;
    color: $medium-blue;
    font-family: $open-sans;
    font-size: 25px;
  }

  p {
    margin: 20px 0;
    text-align: justify;
    font-family: $open-sans;
    font-size: 20px;
    color: $medium-blue;
  }


  .btn-uuge {
    margin: 50px auto;
    width: 300px;
    button {
      padding: 20px 40px;
      width: 100%;
      cursor: pointer;
      background-color: $medium-blue;
      border: 0px;
      color: $light-grey;
      font-size: 25px;
      border-radius: 5px;

      &:hover {
        background-color: darken($medium-blue, 10%);
        color: darken($light-grey, 10%)
      }
      &:focus {
        background-color: darken($medium-blue, 10%);
        color: darken($light-grey, 10%)
      }
    }
  }

  .wuw-logo {
    font-family: $logo-font-family;
    color: $medium-blue;
    margin: 20px auto 20px auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    .w {
      font-size: 130px;
    }
    .u {
      font-size: 115px;
    }
  }
}

/* OLD RAW STYLES */

.long {
  max-width: 500px;
}

.short {
  max-width: 200px;
}


.field label {
  font-weight: normal;
  color: #34495e;
  margin: 0 0 0 2px;
  display: block;
  font-size: 15px;
}
