body { 
  margin: 0;
  padding: 0;
  background-color: #3498db
}

.container {
  margin: 200px 300px;
  color: #ecf0f1;
  font-size: 25px;
}

a.inline-link {
  color: #2c3e50;
}

a.inline-link:hover {
  color: #bdc3c7;
  background-color: #2c3e50;
}

.call-to-action { 
  margin: 50px auto;
  width: 300px;
}

.call-to-action a {
  color: #d35400;
  text-decoration: none;
  padding: 20px 40px;
  background-color: #f39c12;
  border-radius: 15px;
}

.call-to-action a:hover {
  color: #f1c40f;
  background-color: #d35400;
}

.claim-account input, .claim-account button {
  font-size: 20px;
  font-family: "Whitney A", "Whitney B", Avenir, Helvetica,sans-serif;
  border: 1px solid #3F4649;
  color: #1B98E0;  
  padding: 10px;
  border-radius: 3px;
  display: block;
  margin: 10px 0 10px 0;
  width: 400px;
}

.claim-account button {
  cursor: pointer;
}

.claim-account button:hover {
  background-color: #f39c12;r
}

.claim-account .inputs {
  margin: 10px 0 10px 0;
}