
$logo-font-family: 'Didact Gothic', cursive;
$open-sans: 'Open Sans', sans-serif;
$light-blue: #e5eff5;
$medium-blue: #3498db;
$dark-blue: #34495e;
$light-grey: #ecf0f1;

// #3498db
// #e5eff5
// #1B98E0